{
  "presets": ["es2015","stage-0","react"],
  "plugins": [
    "jsx-control-statements",
    "transform-runtime",
    "transform-react-remove-prop-types",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "react-hot-loader/babel"

  ]
}