{
  "parser": "babel-eslint",
  "plugins": [
    "jsx-control-statements"
  ],
  "extends": [
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-no-undef": [
      2,
      {
        "allowGlobals": true
      }
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 1,
        "outerIIFEBody": 1,
        "FunctionDeclaration": {
          "parameters": 1,
          "body": 1
        },
        "FunctionExpression": {
          "parameters": 1,
          "body": 1
        }
      }
    ],
    "react/jsx-indent": [
      4,
      4
    ],
    "react/jsx-indent-props": [
      4,
      4
    ],
    "no-console": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 0,
    "max-len": 0,
    "react/prop-types": 0,
    "no-mixed-operators": 0,
    "jsx-a11y/click-events-have-key-events": 0
  },
  "globals": {
    "System": false
  }
}